{% extends 'base.html' %}

{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>filename: {{ fileName }}</p>
    <p>Chinese_Cabbages: {{ Chinese_Cabbages }}</p>
    <p>Broccoli: {{ Broccoli }}</p>
    <p>Cabbages: {{ Cabbages }}</p>
    <p>Cauliflower: {{ Cauliflower }}</p>
  {% endif %}

  <blockquote>
    {% if image %}
	  <p>output image: {{ image }}</p>
      <img src="{{ image }}" alt="My image"> 
    {% endif %}
  </blockquote>
  
{% endblock %}
